.button-login {
    background-color: #ff9933;
    border: none;
    color: white;
    padding: 9px 32px;
    text-align: center;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.button-login:hover {
    background-color: #ff8000;
    color: white;
}

.link-lupp {
    text-decoration: none;
    color: #525252;
    font-size: 15px;
}

.link-lupp:hover {
    color: #000000;
}

.modal-heder {
    background-color: #ff9933;
}

.hr.new5 {
    border: 3px solid #ff9933;
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-btn {
    font-weight: 600;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

btn-logg {
    background-color: #ffffff;
    color: #000000;
}


.admin-login {
    background-color: #ff9933;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.admin-login:hover {
    background-color: #ff8000;
    color: white;
}

.admin-btn {
    font-weight: 600;
}

.btn-mata {
    margin: auto;
    margin-top: -10px;
}

.font-saya{
    font-size: 15px;
}
.checkbox-teal [type="checkbox"]:checked+label:before {
  border-color: transparent #009688 #009688 transparent;
}

.checkbox-warning-filled [type="checkbox"][class*='filled-in']:checked+label:after {
  border-color: #FF8800;
  background-color: #FF8800;
}

.checkbox-rounded [type="checkbox"][class*='filled-in']+label:after {
  border-radius: 50%;
}

.checkbox-living-coral-filled [type="checkbox"][class*='filled-in']:checked+label:after {
  border-color: #FF6F61;
  background-color: #FF6F61;
}

.checkbox-cerulean-blue-filled [type="checkbox"][class*='filled-in']:checked+label:after {
  border-color: #92aad0;
  background-color: #92aad0;
}

.btn-checbox {
  margin-top: 13px;
}

.sm-register{
font-size: 15px;
}

.viewpass{
    margin-top: -10px;
}

.sm-login{
    color: #FF8800;
    margin-top: -7px;
}

.sm-login:hover {
    color: #ec7e00;
}

.mb-atasnama{
    margin-top: -22px;
    /* margin-bottom: -40px; */
}

.input-link{
    border:none;
    width: 100%;
}

.pd-h4{
margin-left: 20px;
font-weight: bold;
}

.text-orange {
color: #ff8000;
    font-weight: bold;
}

.lower { text-transform: lowercase; }

.label-color{
    color: #000000;
}

.btn-export{
    float: right;
    color: #ffffff;
}
